﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - openFDA Drug Search</title>
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">openFDA Drug Search</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form asp-controller="Home" asp-action="Search" class="form-inline my-2 my-lg-0">
                <input name="Keyword" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-0 my-sm-1" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="body-content" style="padding-top:50px;">
        <h6>Demo Project by Analil Mamucod - @ViewData["CurrentDateTime"]</h6>
        @RenderBody()
        <hr />
        <div class="row">
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Demo</h4>
                        <p class="card-text">Personal project to showcase knowledge of ASP.NET Core MVC Concepts</p>
                        <p class="card-text">Practice consuming public API</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Searching</h4>
                        <p class="card-text">Search any common drug names from OpenFDA database</p>
                        <p class="card-text">Displays raw data of reports on effects from drug usage</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">openFDA Public API</h4>
                        <p class="card-text"><a href="https://open.fda.gov/apis/drug/event/">Drug Adverse Event Overview</a></p>
                        <p class="card-text"><a href="https://open.fda.gov/apis/drug/event/searchable-fields">More about searchable field information</a></p>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; 2018 - openFDA Drug Search</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Development,Staging,Production">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"
                asp-fallback-src="~/lib/jquery/dist/jquery-3.3.1.min"
                asp-fallback-test="window.jQuery"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>