﻿@{
    ViewData["Title"] = "Search Results";
    ViewData["CurrentDateTime"] = System.DateTime.Now;
}
@if (@ViewData["RawDrug"] != null)
{
    <div class="card">
        <div class="card-header">
            Results for <span class="font-weight-normal">@Html.DisplayName("Keyword")</span>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>@ViewData["Disclaimer"]</p>
                <footer class="blockquote-footer">Last Updated: <cite title="Source Title">@ViewData["LastUpdated"]</cite></footer>
            </blockquote>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">Medicinal Product(s)</div>
            <ul class="list-group list-group-flush">
                @foreach (var r in @ViewData["MedicinalProduct"] as IEnumerable<string>)
                {
                    <li class="list-group-item text-capitalize">@r</li>
                }
            </ul>
        </div>
        <div class="card">
            <div class="card-header">Reaction(s)</div>
            <ul class="list-group list-group-flush">
                @foreach (var r in @ViewData["ReactionMedDra"] as IEnumerable<string>)
                {
                    <li class="list-group-item text-capitalize">@r</li>
                }
            </ul>
        </div>
        <div class="card">
            <div class="card-header">Pharmacologic Class(es)</div>
            <ul class="list-group list-group-flush">
                @foreach (var r in @ViewData["PharmEpc"] as IEnumerable<string>)
                {
                    <li class="list-group-item text-capitalize">@r</li>
                }
            </ul>
        </div>
    </div>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}